<style type="text/css">
  .cropit-preview {
    /* You can specify preview size in CSS */
    width: 200px;
    height: 200px;
  }
</style> 
{{> orgheader}}
<ul class="nav nav-tabs" role="tablist">
	<li role="presentation" ><a href="/organizations/{{organization.entry.name}}" role="tab" >Summary</a></li>
	<li role="presentation" ><a href="/organizations/{{organization.entry.name}}/people" role="tab">People</a></li>
  {{#if orgowner}}
  <li role="presentation" class="active"><a href="/organizations/{{organization.entry.name}}/settings/profile" role="tab">Settings</a></li>
  {{else}}
  {{/if}}
</ul>
<div class="row" style="padding-top: 25px">
	<div class="col-md-3" id="navMenuPanel">  
    <div class="panel panel-default">
      <div class="panel-heading">
        Organization settings 
      </div>
      <ul class="list-group">
        <a href="/organizations/{{organization.entry.name}}/settings/profile" class="list-group-item ">Profile</a>
        <a href="/organizations/{{organization.entry.name}}/settings/member_privileges" class="list-group-item">Member privileges</a>
        <a href="/organizations/{{organization.entry.name}}/settings/billing" class="list-group-item active">Billing</a>
      </ul>
    </div>  
  </div>  
  <div class="col-md-9" id="browserArea">
    {{#if messages.success}}
    <div role="alert" class="alert alert-success">
      {{#each messages.success}}
      <div>{{msg}}</div>
      {{/each}}
    </div>
    {{/if}}
    {{#if messages.error}}
    <div role="alert" class="alert alert-danger">
      {{#each messages.error}}
      <div>{{msg}}</div>
      {{/each}}
    </div>
    {{/if}}
    <h2><a href="/organizations/{{organization.entry.name}}/settings/billing" >Billing</a> / Add a manager</h2>
    <hr>
    <div class="row">
      <div class="col-md-6">
        <h5>Billing managers will have the ability to:</h5>
        <ul class="list-unstyled">
         <li><i class="fa fa-check" aria-hidden="true" style="color: #5cb85c"></i>    Change the billing plan</li>
         <li><i class="fa fa-check" aria-hidden="true" style="color: #5cb85c"></i>    Add, update, or remove payment methods</li>
         <li><i class="fa fa-check" aria-hidden="true" style="color: #5cb85c"></i>    View payment history</li>
         <li><i class="fa fa-check" aria-hidden="true" style="color: #5cb85c"></i>    Download, and receive receipts</li>
         <li><i class="fa fa-check" aria-hidden="true" style="color: #5cb85c"></i>    View a list of billing managers</li>
         <li><i class="fa fa-check" aria-hidden="true" style="color: #5cb85c"></i>    Invite additional billing managers</li>
         <li><i class="fa fa-check" aria-hidden="true" style="color: #5cb85c"></i>    Remove other existing billing managers</li>
       </ul>
     </div>
     <div class="col-md-6">
      <h5>Billing managers will not be able to:</h5>
      <ul class="list-unstyled">
       <li><i class="fa fa-times" aria-hidden="true" style="color: #d9534f"></i>    Create or access repositories in your organization</li>
       <li><i class="fa fa-times" aria-hidden="true" style="color: #d9534f"></i>    See private members of your organization</li>
       <li><i class="fa fa-times" aria-hidden="true" style="color: #d9534f"></i>    Be seen in the list of organization members</li>
       <li><i class="fa fa-times" aria-hidden="true" style="color: #d9534f"></i>    Use the organization's payment method</li>
     </ul>
   </div>
 </div>
 <div id="msg"></div>
 <div id="searchUser">
 </div>
</div>
</div>




<script type="text/javascript">

////////////////////////////////////
////        INITIALIZE         //// 
//////////////////////////////////
$('document').ready(function(){
  intit()
})

////////////////////////////////////////
////        INVITE MEMEBER         //// 
//////////////////////////////////////
function intit(){
 var html =  '<div> <h3> Invite new billing manager to <strong>{{organization.entry.name}}</strong></h3> <p>An invitation will be sent via email to the selected user.</p><div class="row"> <div class="col-md-8"> <form autocomplete="off" > <input value="" type="text" name="search" id="search" class="form-control" placeholder="Search by username"> </form> <div id="users" style="padding-top: 25px"></div> </div> </div> </div>'
 $('#searchUser').html(html)
//search input drop down
var orgname = "{{organization.entry.name}}"
$('#search').keyup(function(){
  var searchField = $('#search').val();
  jQuery.ajax({
    'async': true,
    'global': false,
    'url': '/organizations/'+orgname+'/billing_managersearch/'+searchField,
    'success': function (dataSchemaObject) {
      jQuery('#users').html("")
      try {
        if (dataSchemaObject.users.length == 0) {
          jQuery('#users').html('<p><i class="fa fa-frown-o" aria-hidden="true"></i> No users found.</p>')
        } else {
          var html = '<ul class="list-group">'
          for (var i = 0; i < dataSchemaObject.users.length; i++) {
            html+='<li class="list-group-item"><div class="media"><div class="media-left media-middle" > <img onerror="this.src='+"'"+'/img/defaults/default-user.png'+"'"+ '"  src="/uploads/'+dataSchemaObject.users[i]._id+'.jpg " style="max-width: 45px"> </div><div class="media-body" style="text-align: left;"><strong>'+dataSchemaObject.users[i].username+'</strong> '+dataSchemaObject.users[i].name+' <a onclick="sendRequest(this.id)" id="'+dataSchemaObject.users[i].username+'" class="btn btn-default" href="#" role="button" ><i class="fa fa-plus" aria-hidden="true"></i></a>   </div></li>'
          }
          html += '</ul>'
          jQuery('#users').html(html)
        }
      } catch (err){
        jQuery('#users').html('<p><i class="fa fa-frown-o" aria-hidden="true"></i> No users found.</p>')
      }
    },
    'error': function(err){
      jQuery('#users').html("Try not to use special characters.")
    }
  });
});
}

///////////////////////////////////////////////////////
////        AJAX SEND REQUEST TO ADD USER         //// 
/////////////////////////////////////////////////////
function sendRequest(ids){
  var orgname = "{{organization.entry.name}}"
  jQuery.ajax({
   'async': true,
   'global': false,
   'url': '/organizations/'+orgname+'/add_manager/'+ids,
   'success': function (dataSchemaObject) {
    $('#search').val('')
    $('#search').trigger('keyup')
    $('#msg').html(dataSchemaObject.msg)
  }
}); 
}

</script>
