<style type="text/css">
  .cropit-preview {
    /* You can specify preview size in CSS */
    width: 200px;
    height: 200px;
  }
</style> 
{{> orgheader}}
<ul class="nav nav-tabs" role="tablist">
  <li role="presentation" ><a href="/organizations/{{organization.entry.name}}" role="tab" >Summary</a></li>
  <li role="presentation" ><a href="/organizations/{{organization.entry.name}}/people" role="tab">People</a></li>
  {{#if orgowner}}
  <li role="presentation" class="active"><a href="/organizations/{{organization.entry.name}}/settings/profile" role="tab">Settings</a></li>
  {{else}}
  {{/if}}
</ul>
<div class="row" style="padding-top: 25px">
  <div class="col-md-3" id="navMenuPanel">  
    <div class="panel panel-default">
      <div class="panel-heading">
        Organization settings 
      </div>
      <ul class="list-group">
        <a href="/organizations/{{organization.entry.name}}/settings/profile" class="list-group-item ">Profile</a>
        <a href="/organizations/{{organization.entry.name}}/settings/member_privileges" class="list-group-item">Member privileges</a>
        <a href="/organizations/{{organization.entry.name}}/settings/billing" class="list-group-item active">Billing</a>
      </ul>
    </div>  
  </div>  
  <div class="col-md-9" id="browserArea">
    {{#if messages.success}}
    <div role="alert" class="alert alert-success">
      {{#each messages.success}}
      <div>{{msg}}</div>
      {{/each}}
    </div>
    {{/if}}
    {{#if messages.error}}
    <div role="alert" class="alert alert-danger">
      {{#each messages.error}}
      <div>{{msg}}</div>
      {{/each}}
    </div>
    {{/if}}
    <h2>Billing</h2>
    <hr>
    <h5>Plan</h5>



    {{#if organization.entry.plan.name}}
    <div class="well">
      <strong>Developer</strong>, Unlimited private repositories</strong>
    </div>
    <a class="btn btn-danger" onclick="cancel_subscriptionModal()" data-toggle="modal" data-target="#myModal"><i class="fa fa-ban" aria-hidden="true"></i> Cancel Subscription</a>
    {{else}}
    <div class="well">
      <strong>Free plan</strong>, unlimited public repositories</strong>
    </div>
    <p><a class="btn btn-default" href="/organizations/{{organization.entry.name}}/settings/billing/upgrade">Get private repositories</a></p>
    {{/if}} 


    <hr>
     <h5>Payment</h5>
    {{#if braintree_customer}}
    <div class="btn-group" role="group" aria-label="...">
      <a class="btn btn-default" href="/organizations/{{organization.entry.name}}/settings/billing/payment"><i class="fa fa-credit-card" aria-hidden="true"></i> Edit payment method</a>
      <a type="button" class="btn btn-danger"    onclick="deleteBraintreeClient(this.id)" id="{{organization._id}}"  data-toggle="modal" data-target="#myModal"><i class="fa fa-trash" aria-hidden="true"></i> Delete payment method</a>
    </div> 
    {{else}}
    <div class="well">
      <i class="fa fa-credit-card" aria-hidden="true"></i> No payment method on file.
    </div>      
    <p><a class="btn btn-default" href="/organizations/{{organization.entry.name}}/settings/billing/payment"><i class="fa fa-credit-card" aria-hidden="true"></i> Add payment method</a></p>
    {{/if}}
    <hr>
    <h5>Billing Manager</h5>
    {{#if organization.entry.billing_managers}}
    <table class="table table-bordered" id="organizationOwner">
      <tbody>
       {{#each organization.entry.billing_managers}}
       <tr>
         <td> 
          <div class="media">
            <div class="media-body">
              <div class="row">
                <div class="col-md-3">
                 <a href="/users/{{this}}">{{this}}</a>
               </div>
               <div class="col-md-6">
               </div>
               <div class="col-md-3" style="text-align:right" >
                <a class="btn btn-default btn-xs" data-toggle="modal" data-target="#myModal" id="{{this}}" onclick="kickMember(this.id)"><i class="fa fa-times" aria-hidden="true" ></i> Kick</a>
              </div>
            </div>
          </div>
        </div>
      </td>
    </tr>
    {{/each}}
  </tbody>
</table>
{{else}}
<div class="well">
  You have not invited any billing managers. 
</div>      
{{/if}}
<p>
  <a class="btn btn-default" href="/organizations/{{organization.entry.name}}/settings/billing/billing_managers/new"><i class="fa fa-user" aria-hidden="true"></i> Add a billing manager</a>
</p>
<small>Receipts are sent to the billing managers for this organization, and <a href="" data-toggle="modal" data-target=".bs-example-modal-sm"> {{organization.entry.email}}  <i class="fa fa-pencil" aria-hidden="true"></i></a></small>
<hr>
<h5>Payment history</h5>
<div class="well">
  You have not made any payments. 
</div>      
<small>Amounts shown in USD</small>
</div> 
</div>
</div>



<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content"  id="modalTextArea">
    </div>
  </div>
</div>

<script type="text/javascript">
///////////////////////////////////////////////
////        DELTE PAYMENT DETAILS         //// 
/////////////////////////////////////////////
function deleteBraintreeClient(ids){
  var html = '<div class="modal-header"> <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button> <h4 class="modal-title" id="myModalLabel"><i class="fa fa-trash" aria-hidden="true"></i> Delete payment details.</h4> </div> <div class="modal-body"> <p>Are you sure you wish to delete these payment details from your account?</p> <div style="text-align: center"> <div id="modelHtml"></div> </div> </div> <div class="modal-footer"> <button type="button" class="btn btn-default" data-dismiss="modal">Close</button> </div>'
  $('#modalTextArea').html(html)
  $('#modelHtml').html('<a href="/organizations/deletepaymentdetails/'+ids+'" class="btn btn-danger">Delete payment details.</a>')
}

/////////////////////////////////////
////        KICK MEMBER         //// 
///////////////////////////////////
function kickMember(ids){
  var html = '<div class="modal-header"> <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button> <h4 class="modal-title" id="myModalLabel"><i class="fa fa-sign-out" aria-hidden="true"></i> Kick this user.</h4> </div> <div class="modal-body"> <p>Are you sure you wish to kick <strong>'+ids+'</strong> from {{organization.entry.displayname}}?</p> <div style="text-align: center"> <div id="modelHtml"></div> </div> </div> <div class="modal-footer"> <button type="button" class="btn btn-default" data-dismiss="modal">Close</button> </div>'
  $('#modalTextArea').html(html)
  $('#modelHtml').html('<a href="/organizations/{{organization.entry.name}}/kickbilling/'+ids+'" class="btn btn-warning">Kick '+ids+'</a>')
}

</script>
