 
<div class="row" style="padding-top: 25px">
  <div class="col-md-3" id="navMenuPanel">       
    {{> usernav account=true}}
  </div>  
  <div class="col-md-9" id="browserArea">
   {{#if messages.success}}
   <div role="alert" class="alert alert-success">
    {{#each messages.success}}
    <div>{{msg}}</div>
    {{/each}}
  </div>
  {{/if}}
  {{#if messages.error}}
  <div role="alert" class="alert alert-danger">
    {{#each messages.error}}
    <div>{{msg}}</div>
    {{/each}}
  </div>
  {{/if}} 
  <h3>Change password</h3>
  <hr>
  <form method="POST" action="/account?_method=PUT"  class="form-horizontal">
    <div class="form-group">
      <label for="password" class="col-md-12">New Password</label>
      <div class="col-md-5">
        <input type="password" name="password" id="password" class="form-control">
      </div>
    </div>
    <div class="form-group">
      <label for="confirm" class="col-md-12">Confirm Password</label>
      <div class="col-md-5">
        <input type="password" name="confirm" id="confirm" class="form-control">
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-12">
        <button type="submit" class="btn btn-default">Change Password</button> <a href="/forgot">I forgot my password.</a>
      </div>
    </div>
  </form>
  <h3>Change External Account Settings</h3>
  <hr>
  <div class="form-horizontal">
    <div class="form-group">
      <div class=" col-sm-4">
        {{#if user.google}}
        <p><a href="/unlink/google" class="text-danger"><i class="fa fa-chain-broken" aria-hidden="true"></i>  Unlink your Google account</a></p>
        {{else}}
        <p><a href="/auth/google"><i class="fa fa-link" aria-hidden="true"></i>  Link your Google account</a></p>
        {{/if}}
        {{#if user.github}}
        <p><a href="/unlink/github" class="text-danger"><i class="fa fa-chain-broken" aria-hidden="true"></i>  Unlink your Github account</a></p>
        {{else}}
        <p><a href="/auth/github"><i class="fa fa-link" aria-hidden="true"></i>  Link your Github account</a></p>
        {{/if}}
      </div>
    </div>
  </div>
  <h3  style="color:#d9534f">Delete Account</h3>
  <hr  style="color:#d9534f">
  <form method="POST" action="/account?_method=DELETE" class="form-horizontal">
    <div class="form-group">
      {{#if organizations}}
      <h3>Organizations</h3>
      <div class="row">
        {{#each organizations}}
        <div class="col-md-2">
          <p>Your account is currently owner of the following organizations :</p>
          <a href="/organizations/{{this.entry.name}}" title="{{this.entry.name}}" >
            <img src="{{this.entry.picture}}" class="media-object" style="max-width: 45px;border-radius: 1px;border: 1px;border-color: #d8d8d8;border-style: solid;">
          </a>
        </div>
        {{/each}}
      </div>
      {{else}}
      <p class=" col-sm-9" style="color:#d9534f">You can delete your account, but keep in mind this action is irreversible.</p>
      <div class=" col-sm-9">
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#myModal">
          Delete my account
        </button>
      </div>
      {{/if}}
    </div>
  </form>
  <!-- Modal -->
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Caution</h4>
        </div>
        <div class="modal-body">
          <form method="POST" action="/account?_method=DELETE" class="form-horizontal">
            <div class="form-group">
              {{#if organizations}}
              <h3>Organizations</h3>
              <div class="row">
                {{#each organizations}}
                <div class="col-md-2">
                  <p>Your account is currently owner of the following organizations :</p>
                  <a href="/organizations/{{this.entry.name}}" title="{{this.entry.name}}" >
                    <img src="{{this.entry.picture}}" class="media-object" style="max-width: 45px;border-radius: 1px;border: 1px;border-color: #d8d8d8;border-style: solid;">
                  </a>
                </div>
                {{/each}}
              </div>
              {{else}}
              <p class=" col-sm-9" style="color:#d9534f">You can delete your account, but keep in mind this action is irreversible.</p>
              <div class=" col-sm-9">
                <button type="submit" class="btn btn-danger">Delete my account</button>
              </div>
              {{/if}}
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
<script type="text/javascript">
</script>

