<div class="row" style="padding-top: 25px">
  <div class="col-md-3" id="navMenuPanel">       
    {{> usernav organizations=true}}
  </div>  
  <div class="col-md-9" id="browserArea">
        {{#if messages.success}}
        <div role="alert" class="alert alert-success">
          {{#each messages.success}}
            <div>{{msg}}</div>
          {{/each}}
        </div>
      {{/if}}
      {{#if messages.error}}
        <div role="alert" class="alert alert-danger">
          {{#each messages.error}}
            <div>{{msg}}</div>
          {{/each}}
        </div>
      {{/if}}
    {{#if organizations}}
    <h2>Organizations</h2>
    <hr>
    <table class="table table-bordered" id="Organization">
      <thead>
        <tr>
          <th>Organizations</th>
        </tr>
      </thead>
      <tbody>
        {{#each organizations}}
        <tr>
          <td>
            <div class="media">
              <div class="media-left">
                <a href="#">
                  {{#if this.entry.picture}}
                  <img src="{{this.entry.picture}}" class="media-object" style="max-width: 65px;border-radius: 2px;border: 1px;border-color: #d8d8d8;border-style: solid;">
                  {{else}}
                  <img src="{{this.gravatar}}" class="media-object" style="max-width: 65px;border-radius: 2px;border: 1px;border-color: #d8d8d8;border-style: solid;">
                  {{/if}}
                </a>
              </div>
              <div class="media-body">
                <div class="row">
                  <div class="col-md-3">
                   <a href="/organizations/{{this.entry.name}}"><h4>{{this.entry.name}}</h4></a>
                   Owned by : <a style="color: grey" href="/users/{{this.entry.owner}}">{{this.entry.owner}}   </a>
                 </div>
                 <div class="col-md-6">
                  {{dotdotdotdot this.entry.description}}
                </div>
                 <div class="col-md-3" style="vertical-align: center;text-align: right;">
                  <a class="btn btn-default" data-toggle="modal" data-target="#myModal" id="{{this.entry.name}}" onclick="modalDelete(this.id)">Leave</a>
                </div>
              </div>
            </div>
          </div>
        </td>
      </tr>
      {{/each}}
    </tbody>
  </table>
  <a class="btn btn-success" href="/organizations/new" >New Organization</a>  
  <p></p>
  {{else}}
    <div style="border-width: 1px; border-style: dashed; border-color: grey;padding:15px;border-radius: 5px;">
      <p>No organizations found </p>
      <a class="btn btn-success btn-xl" href="/organizations/new"><i class="fa fa-plus" aria-hidden="true"></i> Create an Organization</a> 
    </div>
  {{/if}}
</div>
</div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Leave this Organization.</h4>
      </div>
      <div class="modal-body">
        <p>Are you sure you wish to leave this organization ?</p>
        <div style="text-align: center">
          <div id="modelHtml"></div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
////////////////////////////////////
////        INITIALIZE         //// 
//////////////////////////////////
$('document').ready(function(){
  var table = jQuery('#Organization').DataTable({
    'destroy':true,
    "pagingType": "numbers",   
//  'order': [[ 2, 'asc' ]] ,
});
})

//Inject the id of the organization in the modal to confirm.
function modalDelete(ids){
  $('#modelHtml').html('<a href="/leaveorganiztion/'+ids+'" class="btn btn-danger">Leave '+ids+'</a>')
}

</script>

