<div class="row" style="padding-top: 25px">
	<div class="col-md-3" id="navMenuPanel">       
		{{> usernav billing=true}}
	</div>  
	<div class="col-md-9" id="browserArea">
		{{#if messages.success}}
		<div role="alert" class="alert alert-success">
			{{#each messages.success}}
			<div>{{msg}}</div>
			{{/each}}
		</div>
		{{/if}}
		{{#if messages.error}}
		<div role="alert" class="alert alert-danger">
			{{#each messages.error}}
			<div>{{msg}}</div>
			{{/each}}
		</div>
		{{/if}}
		<div id="alert"></div>
		<h2><a href="/users/{{user.username}}/settings/billing">Billing</a> / Payment Details</h2>
		<hr>
		<form id="theForm" class="form-horizontal"  >
			{{#if braintree_customer}}
			{{else}}
			<div class="alert alert-info" role="alert"> <strong>Heads up!</strong> No existing details found. </div>
			{{/if}}
			<div class="row">
				<div class="col-md-6">
					<div class="form-group">
						<label for="email" class="col-md-12">Email</label>
						<div class="col-md-12">
							<input type="email" name="email" id="email" class="form-control" value="{{user.email}}">
						</div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group">
						<label for="name" class="col-md-12">Name</label>
						<div class="col-md-12">
							<input type="text" name="name" id="name" class="form-control" value="{{user.name}}">
						</div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group">
						<label for="location" class="col-md-12">Location</label>
						<div class="col-md-12">
							<select type="text" name="location" id="location" class="form-control" value="{{user.location}}"></select>
							<p class="help-block">We store your personal data in South Africa. See our <a href="/privacy">privacy policy</a> for more information. </p>
						</div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group">
						<label for="website" class="col-md-12">Website</label>
						<div class="col-md-12">
							<input type="url" name="website" id="website" pattern="https?://.+" class="form-control" value="{{user.website}}">
						</div>
					</div>
				</div>
				<div class="col-md-12">
				</div>
				<div class="col-md-6">
					<div class="form-group">
						<label for="website" class="col-md-12">Phone</label>
						<div class="col-md-12">
							<input type="text" name="phone" id="phone" class="form-control" type="text" value="{{user.phone}}">
						</div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group">
						<label for="website" class="col-md-12">Fax</label>
						<div class="col-md-12">
							<input type="text" name="fax" id="fax" class="form-control" type="text" value="{{user.fax}}">
						</div>
					</div>
				</div>
				<div class="col-md-12">
					<div id="payment-form"></div>
					<p></p>
					{{#if braintree_customer}}
					<div class="btn-group" role="group" aria-label="...">
						<a type="button" class="btn btn-success disabled"   id="submits" type="submit" >Update payment details</a>
						<a type="button" class="btn btn-default" href="/users/{{user.username}}/settings/billing">Cancel</a>
					</div> 
					<small>Payment details are stored on the PayPal server.</small>
					{{else}}
					<div class="btn-group" role="group" aria-label="...">
						<a type="button" class="btn btn-success disabled"   id="submits" type="submit" >Create payment details</a>
						<a type="button" class="btn btn-default" href="/users/{{user.username}}/settings/billing">Cancel</a>
					</div> 
					<small>Test Values for Cards</small>
					<code>4111111111111111</code>
					<code>10/19</code>
					{{/if}}
				</div>
			</div>
		</form>
		<hr>
		<p></p>
		<div id="msg"></div>
		<div id="customer"></div>
		<small>All transactions are processed on <a href="https://www.braintreepayments.com/" target="_blank">Braintree Payments</a> through an encrypted HTTP Secure connection.</small>
	</div>
</div>
<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content"  id="modalTextArea">
		</div>
	</div>
</div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/jquery.validate.min.js"></script>
<script src="https://js.braintreegateway.com/web/dropin/1.4.0/js/dropin.min.js"></script>
<script type="text/javascript">
	var clientToken = '{{{clientToken}}}';
	var username =  '{{{user.username}}}'
	var customerBT 
	{{#if braintree_customer}}
	var customerBT = {{{braintree_customer}}} 
	{{/if}}
	var button = document.querySelector('#submits');

////////////////////////////////////
////        INITIALIZE         //// 
//////////////////////////////////
$('document').ready(function(){
	$("#theForm").validate({
		rules: {
			email: {
				required: true,
				email: true
			},
			name: {
				required: true,
			},
		},
		highlight: function(element) {
			$(element).closest('.form-group').addClass('has-error');
		},
		unhighlight: function(element) {
			$(element).closest('.form-group').removeClass('has-error');
		}
	});
	braintree.dropin.create({
		authorization: clientToken,
		container: "#payment-form",
		onReady: function (integration) {
			checkout = integration;
		},
		paypal: {
			flow: 'vault'
		},		
	}, function (createErr, instance) {
		$('#submits').toggleClass('disabled', false);
		button.addEventListener('click', function () {
			var formValid = $("#theForm").valid()
			if (formValid) {
				instance.requestPaymentMethod(function (err, payload) {
					$('#submits').toggleClass('disabled', true);
					if (customerBT) {
						formPostUpdate(payload)
					} else {
						formPost(payload)
					}
				});
			}
		});
	}) 
})

//////////////////////////////////////////////////////
////        AJAX SUBMIT THE FORM - CREATE        //// 
////////////////////////////////////////////////////
function formPost(payload){
	if (!payload) {
		$('#alert').html('<div id="alert" role="alert" class="alert alert-danger">Please add your payment details.</div>')
		$('#submits').toggleClass('disabled', false);
		return
	}	
	var moredata = payload.nonce;
	$input = $('<input type="text" name="payload" style="display:none"/>').val(moredata);
	$('#theForm').append($input);
	var datastring = $('#theForm').serialize()
	$.ajax({
		type: "POST",
		url: '/users/'+username+'/vault',
		data: datastring,
		dataType: "json",
		success: function(data) {
			location.reload()	
		},
		error : function(err){
			location.reload()
		}
	}); 
}

//////////////////////////////////////////////////////
////        AJAX SUBMIT THE FORM - UPDATE        //// 
////////////////////////////////////////////////////
function formPostUpdate(payload){
	if (!payload) {
		$('#alert').html('<div id="alert" role="alert" class="alert alert-danger">Please add your payment details.</div>')
		$('#submits').toggleClass('disabled', false);
		return
	}	
	var moredata = payload.nonce;
	$input = $('<input type="text" name="payload" style="display:none"/>').val(moredata);
	$('#theForm').append($input);
	var datastring = $('#theForm').serialize()
	$.ajax({
		type: "POST",
		url: '/users/'+username+'/vaultupdate',
		data: datastring,
		dataType: "json",
		success: function(data) {
			location.reload()	
		},
		error : function(err){
			location.reload()
		}
	}); 
}



/////////////////////////////////////////////////////
////        POPULATE THE COUNTRY SELECT         //// 
///////////////////////////////////////////////////
var country_arr = new Array("Afghanistan", "Albania", "Algeria", "American Samoa", "Angola", "Anguilla", "Antartica", "Antigua and Barbuda", "Argentina", "Armenia", "Aruba", "Ashmore and Cartier Island", "Australia", "Austria", "Azerbaijan", "Bahamas", "Bahrain", "Bangladesh", "Barbados", "Belarus", "Belgium", "Belize", "Benin", "Bermuda", "Bhutan", "Bolivia", "Bosnia and Herzegovina", "Botswana", "Brazil", "British Virgin Islands", "Brunei", "Bulgaria", "Burkina Faso", "Burma", "Burundi", "Cambodia", "Cameroon", "Canada", "Cape Verde", "Cayman Islands", "Central African Republic", "Chad", "Chile", "China", "Christmas Island", "Clipperton Island", "Cocos (Keeling) Islands", "Colombia", "Comoros", "Congo, Democratic Republic of the", "Congo, Republic of the", "Cook Islands", "Costa Rica", "Cote d'Ivoire", "Croatia", "Cuba", "Cyprus", "Czeck Republic", "Denmark", "Djibouti", "Dominica", "Dominican Republic", "Ecuador", "Egypt", "El Salvador", "Equatorial Guinea", "Eritrea", "Estonia", "Ethiopia", "Europa Island", "Falkland Islands (Islas Malvinas)", "Faroe Islands", "Fiji", "Finland", "France", "French Guiana", "French Polynesia", "French Southern and Antarctic Lands", "Gabon", "Gambia, The", "Gaza Strip", "Georgia", "Germany", "Ghana", "Gibraltar", "Glorioso Islands", "Greece", "Greenland", "Grenada", "Guadeloupe", "Guam", "Guatemala", "Guernsey", "Guinea", "Guinea-Bissau", "Guyana", "Haiti", "Heard Island and McDonald Islands", "Holy See (Vatican City)", "Honduras", "Hong Kong", "Howland Island", "Hungary", "Iceland", "India", "Indonesia", "Iran", "Iraq", "Ireland", "Ireland, Northern", "Israel", "Italy", "Jamaica", "Jan Mayen", "Japan", "Jarvis Island", "Jersey", "Johnston Atoll", "Jordan", "Juan de Nova Island", "Kazakhstan", "Kenya", "Kiribati", "Korea, North", "Korea, South", "Kuwait", "Kyrgyzstan", "Laos", "Latvia", "Lebanon", "Lesotho", "Liberia", "Libya", "Liechtenstein", "Lithuania", "Luxembourg", "Macau", "Macedonia, Former Yugoslav Republic of", "Madagascar", "Malawi", "Malaysia", "Maldives", "Mali", "Malta", "Man, Isle of", "Marshall Islands", "Martinique", "Mauritania", "Mauritius", "Mayotte", "Mexico", "Micronesia, Federated States of", "Midway Islands", "Moldova", "Monaco", "Mongolia", "Montserrat", "Morocco", "Mozambique", "Namibia", "Nauru", "Nepal", "Netherlands", "Netherlands Antilles", "New Caledonia", "New Zealand", "Nicaragua", "Niger", "Nigeria", "Niue", "Norfolk Island", "Northern Mariana Islands", "Norway", "Oman", "Pakistan", "Palau", "Panama", "Papua New Guinea", "Paraguay", "Peru", "Philippines", "Pitcaim Islands", "Poland", "Portugal", "Puerto Rico", "Qatar", "Reunion", "Romainia", "Russia", "Rwanda", "Saint Helena", "Saint Kitts and Nevis", "Saint Lucia", "Saint Pierre and Miquelon", "Saint Vincent and the Grenadines", "Samoa", "San Marino", "Sao Tome and Principe", "Saudi Arabia", "Scotland", "Senegal", "Seychelles", "Sierra Leone", "Singapore", "Slovakia", "Slovenia", "Solomon Islands", "Somalia", "South Africa", "South Georgia and South Sandwich Islands", "Spain", "Spratly Islands", "Sri Lanka", "Sudan", "Suriname", "Svalbard", "Swaziland", "Sweden", "Switzerland", "Syria", "Taiwan", "Tajikistan", "Tanzania", "Thailand", "Tobago", "Toga", "Tokelau", "Tonga", "Trinidad", "Tunisia", "Turkey", "Turkmenistan", "Tuvalu", "Uganda", "Ukraine", "United Arab Emirates", "United Kingdom", "Uruguay", "USA", "Uzbekistan", "Vanuatu", "Venezuela", "Vietnam", "Virgin Islands", "Wales", "Wallis and Futuna", "West Bank", "Western Sahara", "Yemen", "Yugoslavia", "Zambia", "Zimbabwe","None");

populateCountries("location");
function populateCountries(countryElementId, stateElementId) {
    // given the id of the <select> tag as function argument, it inserts <option> tags
    var countryElement = document.getElementById(countryElementId);
    countryElement.length = 0;
    if ('{{user.location}}' == -1) {
    	countryElement.options[0] = new Option('None', '-1');
    } else {
    	countryElement.options[0] = new Option('{{user.location}}', '-1');  
    }
    countryElement.selectedIndex = 0;
    for (var i = 0; i < country_arr.length; i++) {
    	countryElement.options[countryElement.length] = new Option(country_arr[i], country_arr[i]);
    }
}

</script>