<style type="text/css">
  .cropit-preview {
    /* You can specify preview size in CSS */
    width: 200px;
    height: 200px;
  }
</style> 
<div class="row" style="padding-top: 25px">
  <div class="col-md-3" id="navMenuPanel">       
    {{> usernav profile=true}}
  </div>  
  <div class="col-md-9" id="browserArea">
    <div class="col-sm-12">
      {{#if messages.success}}
      <div role="alert" class="alert alert-success">
        {{#each messages.success}}
        <div>{{msg}}</div>
        {{/each}}
      </div>
      {{/if}}
      {{#if messages.error}}
      <div role="alert" class="alert alert-danger">
        {{#each messages.error}}
        <div>{{msg}}</div>
        {{/each}}
      </div>
      {{/if}}
      <h3>Public Profile</h3>
      <hr>
      <form method="POST" action="/account?_method=PUT" class="form-horizontal" >
        <div class="row">
          <div class="col-md-8">
            <div class="form-group">
              <label for="username" class="col-md-12">Username</label>
              <div class="col-md-11">
                <input type="username" name="username" id="username" class="form-control" value="{{user.username}}" disabled>
                <p class="help-block">Changing your username can have unforeseen consequences. i.e will crash , let us know where yours does!!  <a class="btn btn-default btn-xs"  onclick="activate()">Change</a></p>
              </div>
            </div>
            <div class="form-group">
              <label for="email" class="col-md-12">Email</label>
              <div class="col-md-11">
                <input type="email" name="email" id="email" class="form-control" value="{{user.email}}">
              </div>
            </div>
            <div class="form-group">
              <label for="name" class="col-md-12">Name</label>
              <div class="col-md-11">
                <input type="text" name="name" id="name" class="form-control" value="{{user.name}}">
              </div>
            </div>
            <div class="form-group">
              <label for="name" class="col-md-12">Bio</label>
              <div class="col-md-11">
                <textarea type="text" rows="3" name="bio" id="bio" class="form-control"  >{{user.bio}}</textarea>
              </div>
            </div>
            <div class="form-group">
              <label for="location" class="col-md-12">Location</label>
              <div class="col-md-11">
               <select type="text" name="location" id="location" class="form-control" value="{{user.location}}"></select>
                <p class="help-block">We store your personal data in South Africa. See our <a href="/privacy">privacy policy</a> for more information. </p>
              </div>
            </div>
            <div class="form-group">
              <label for="website" class="col-md-12">Website</label>
              <div class="col-md-11">
                <input type="url" name="website" id="website" class="form-control" value="{{user.website}}">
              </div>
            </div>
            <div class="form-group">
              <label for="company" class="col-md-12">Company</label>
              <div class="col-md-11">
                <input type="text" name="company" id="company" class="form-control" value="{{user.company}}">
              </div>
            </div>
            <div class="form-group">
              <label for="company" class="col-md-12">Public Email</label>
              <div class="col-md-11">
                <input type="email" name="publicemail" id="publicemail" class="form-control" value="{{user.publicemail}}">
                <p class="help-block">This email will be shown on the public profile. </p>
              </div>
            </div>            
            <div class="form-group">
              <div class=" col-sm-4">
                <button type="submit"   id="export" class="btn btn-default">Update Profile</button>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <div class="col-sm-12">
                <h4>Profile Picture</h4> 
                <!-- This wraps the whole cropper -->
                <div id="image-cropper" >
                  <!-- This is where the preview image is displayed -->
                  <div class="cropit-preview"  style="border: 1px solid #eee;position: relative;text-align: center;"><img src="/img/defaults/default-user.png" style="padding-top: 15px"></div>
                  <!-- This range input controls zoom -->
                  <!-- You can add additional elements here, e.g. the image icons -->
                  <input type="range" id="slideritem" class="cropit-image-zoom-input" style="width: 200px" />
                  <p></p>
                  <!-- This is where user selects new image -->
                  <input type="file" class="cropit-image-input"  />
                  <input style="display: none;" name="croppedImg" id="croppedImg"/>
                  <!-- The cropit- classes above are needed
                  so cropit can identify these elements -->
                </div>
                <p></p>
                <small>The profile picture change will not save. <a href="https://stackoverflow.com/questions/28480058/cant-upload-images-on-heroku-server" target="_blank">Why?</a></small>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<script type="text/javascript">

  function activate(){
    $('#username').prop('disabled', false);
  }

  {{#if user.picture}}
  var imageSrc = '{{{user.picture}}}'
  {{else}}
  var imageSrc = '{{{user.gravatar}}}'
  {{/if}}
  
  $('#image-cropper').cropit({ 
    imageState: { src: imageSrc  },
    onImageLoaded : function(){
      var imageData = $('#image-cropper').cropit('export', {
        type: 'image/jpeg',
        quality: .4,
        originalSize: true,

      });
      $('#croppedImg').val(imageData);
    },
    onOffsetChange : function(){
      var imageData = $('#image-cropper').cropit('export', {
        type: 'image/jpeg',
        quality: .4,
        originalSize: true,

      });
      $('#croppedImg').val(imageData);
    }
  });

////////////////////////////////
///// LISTEN FOR CHANGES //////
//////////////////////////////
$('#image-cropper').change(function() {
  var imageData = $('#image-cropper').cropit('export', {
    type: 'image/jpeg',
    quality: .4,
    originalSize: true,

  });
  $('#croppedImg').val(imageData);
});

////////////////////////
///// INITIALIZE //////
//////////////////////
$(document).ready( function() {
  $(':file').on('fileselect', function(event, numFiles, label) {
    var input = $(this).parents('.input-group').find(':text'),
    log = numFiles > 1 ? numFiles + ' files selected' : label;
    if( input.length ) {
      input.val(log);
    } else {
      if( log ) alert(log);
    }
  });
});


/////////////////////////////////////////////////////
////        POPULATE THE COUNTRY SELECT         //// 
///////////////////////////////////////////////////
var country_arr = new Array("Afghanistan", "Albania", "Algeria", "American Samoa", "Angola", "Anguilla", "Antartica", "Antigua and Barbuda", "Argentina", "Armenia", "Aruba", "Ashmore and Cartier Island", "Australia", "Austria", "Azerbaijan", "Bahamas", "Bahrain", "Bangladesh", "Barbados", "Belarus", "Belgium", "Belize", "Benin", "Bermuda", "Bhutan", "Bolivia", "Bosnia and Herzegovina", "Botswana", "Brazil", "British Virgin Islands", "Brunei", "Bulgaria", "Burkina Faso", "Burma", "Burundi", "Cambodia", "Cameroon", "Canada", "Cape Verde", "Cayman Islands", "Central African Republic", "Chad", "Chile", "China", "Christmas Island", "Clipperton Island", "Cocos (Keeling) Islands", "Colombia", "Comoros", "Congo, Democratic Republic of the", "Congo, Republic of the", "Cook Islands", "Costa Rica", "Cote d'Ivoire", "Croatia", "Cuba", "Cyprus", "Czeck Republic", "Denmark", "Djibouti", "Dominica", "Dominican Republic", "Ecuador", "Egypt", "El Salvador", "Equatorial Guinea", "Eritrea", "Estonia", "Ethiopia", "Europa Island", "Falkland Islands (Islas Malvinas)", "Faroe Islands", "Fiji", "Finland", "France", "French Guiana", "French Polynesia", "French Southern and Antarctic Lands", "Gabon", "Gambia, The", "Gaza Strip", "Georgia", "Germany", "Ghana", "Gibraltar", "Glorioso Islands", "Greece", "Greenland", "Grenada", "Guadeloupe", "Guam", "Guatemala", "Guernsey", "Guinea", "Guinea-Bissau", "Guyana", "Haiti", "Heard Island and McDonald Islands", "Holy See (Vatican City)", "Honduras", "Hong Kong", "Howland Island", "Hungary", "Iceland", "India", "Indonesia", "Iran", "Iraq", "Ireland", "Ireland, Northern", "Israel", "Italy", "Jamaica", "Jan Mayen", "Japan", "Jarvis Island", "Jersey", "Johnston Atoll", "Jordan", "Juan de Nova Island", "Kazakhstan", "Kenya", "Kiribati", "Korea, North", "Korea, South", "Kuwait", "Kyrgyzstan", "Laos", "Latvia", "Lebanon", "Lesotho", "Liberia", "Libya", "Liechtenstein", "Lithuania", "Luxembourg", "Macau", "Macedonia, Former Yugoslav Republic of", "Madagascar", "Malawi", "Malaysia", "Maldives", "Mali", "Malta", "Man, Isle of", "Marshall Islands", "Martinique", "Mauritania", "Mauritius", "Mayotte", "Mexico", "Micronesia, Federated States of", "Midway Islands", "Moldova", "Monaco", "Mongolia", "Montserrat", "Morocco", "Mozambique", "Namibia", "Nauru", "Nepal", "Netherlands", "Netherlands Antilles", "New Caledonia", "New Zealand", "Nicaragua", "Niger", "Nigeria", "Niue", "Norfolk Island", "Northern Mariana Islands", "Norway", "Oman", "Pakistan", "Palau", "Panama", "Papua New Guinea", "Paraguay", "Peru", "Philippines", "Pitcaim Islands", "Poland", "Portugal", "Puerto Rico", "Qatar", "Reunion", "Romainia", "Russia", "Rwanda", "Saint Helena", "Saint Kitts and Nevis", "Saint Lucia", "Saint Pierre and Miquelon", "Saint Vincent and the Grenadines", "Samoa", "San Marino", "Sao Tome and Principe", "Saudi Arabia", "Scotland", "Senegal", "Seychelles", "Sierra Leone", "Singapore", "Slovakia", "Slovenia", "Solomon Islands", "Somalia", "South Africa", "South Georgia and South Sandwich Islands", "Spain", "Spratly Islands", "Sri Lanka", "Sudan", "Suriname", "Svalbard", "Swaziland", "Sweden", "Switzerland", "Syria", "Taiwan", "Tajikistan", "Tanzania", "Thailand", "Tobago", "Toga", "Tokelau", "Tonga", "Trinidad", "Tunisia", "Turkey", "Turkmenistan", "Tuvalu", "Uganda", "Ukraine", "United Arab Emirates", "United Kingdom", "Uruguay", "USA", "Uzbekistan", "Vanuatu", "Venezuela", "Vietnam", "Virgin Islands", "Wales", "Wallis and Futuna", "West Bank", "Western Sahara", "Yemen", "Yugoslavia", "Zambia", "Zimbabwe","None");

populateCountries("location");
function populateCountries(countryElementId, stateElementId) {
    // given the id of the <select> tag as function argument, it inserts <option> tags
    var countryElement = document.getElementById(countryElementId);
    countryElement.length = 0;
    if ('{{user.location}}' == -1) {
      countryElement.options[0] = new Option('None', '-1');
    } else {
      countryElement.options[0] = new Option('{{user.location}}', '-1');  
    }
    countryElement.selectedIndex = 0;
    for (var i = 0; i < country_arr.length; i++) {
      countryElement.options[countryElement.length] = new Option(country_arr[i], country_arr[i]);
    }
}

</script>