<style type="text/css">
	.awesome {
		padding: 2px;

		border-radius: 5px;
		background: #5cb85c;
	}
</style>
<div class="row">
	<div class="col-md-3">
		<h3>Upgrade your plan</h3>
		<div>
			<div>  
				<a href="#">
					{{#if user.picture}}
					<div onerror="this.src='{{user.gravatar}}'"" id="googlepic" style="min-width: 25%"></div>
					{{else}}
					<img src="{{user.gravatar}}" class="media-object">
					{{/if}}
				</a>
			</div>
		</div>
		<h4>{{user.name}}  <small>{{user.username}}</small></h4>
		<hr>
		<h5>Current plan</h5>
		<strong>Free plan</strong>, Unlimited public repositories</strong>
		<hr>
		<h5>Upgrading to</h5>
		<strong>Developer</strong>, Unlimited private repositories
	</strong>
	<hr>
	<h5>New plan price</h5>
	<h1>$7.00 / month</h1>
</div>
<div class="col-md-9">
	<h3>Plan Duration</h3>
	<hr>
	<div class="btn-group" data-toggle="buttons" s>
		<label class="btn btn-default btn-lg active">
			<input type="radio" name="options" id="option1" autocomplete="off" checked style="position: relative;"> <strong>$7 / month </strong>
		</label>
		<label class="btn btn-default btn-lg">
			<input type="radio" name="options" id="option2" autocomplete="off" style="position: relative;">  <strong>$84 / year </strong>
		</label>
	</div>
	<hr>
	<div id="payment-form"></div>
	<div class="awesome">
		<div class="panel panel-default" style="margin-bottom: 1px;border-color: #5cb85c; "  >
			<div class="panel-body" >
				Charge today
				<h1>$84.00</h1>
			</div>
			<div class="panel-footer">Your next charge will be on 2018-08-01.</div>
		</div>
	</div>
	<p></p>   <p>
      By clicking on "Create organization" below, you are agreeing to the <a href="/terms">Terms of Service</a> and the <a href="/privacy">Privacy Policy</a>.
    </p>
	<div class="btn-group" role="group" aria-label="...">
		<a type="button" class="btn btn-success">Upgrade your plan</a>
		<a type="button" class="btn btn-default">Cancel</a>
	</div>


</div>
</div>
<script src="https://js.braintreegateway.com/web/dropin/1.4.0/js/dropin.min.js"></script>
<script type="text/javascript">
	var username = JSON.stringify('{{user.username}}')
	var user = JSON.stringify('{{user.username}}')
	var text = '{{user.picture}}'
	text =text.replace("sz&#x3D;50", "sz&#x3D;200");
	$('#googlepic').html('<img src="'+text+'" style="max-width: 50%;border-radius: 2px;border: 1px;border-color: #d8d8d8;border-style: solid;" class="media-object">')
	var checkout;
// We generated a client token for you so you can test out this code
// immediately. In a production-ready integration, you will need to
// generate a client token on your server (see section below).
var clientToken = '{{{clientToken}}}';
var button = document.querySelector('#submits');
/*
braintree.dropin.create({
authorization: clientToken,
container: '#dropin-container',
onReady: function (integration) {
checkout = integration;
},
}, function (createErr, instance) {
button.addEventListener('click', function () {
instance.requestPaymentMethod(function (err, payload) {
      // Submit payload.nonce to your server
    });
});
});*/
braintree.dropin.create({
	authorization: clientToken,
	container: "#payment-form",
	onReady: function (integration) {
		checkout = integration;
	},
	paypal: {
		container: 'paypal-container',
singleUse: true, // Required
amount: 10.00, // Required
currency: 'USD', // Required
locale: 'en_US',
enableShippingAddress: true,
shippingAddressOverride: {
	recipientName: 'Scruff McGruff',
	streetAddress: '1234 Main St.',
	extendedAddress: 'Unit 1',
	locality: 'Chicago',
	countryCodeAlpha2: 'US',
	postalCode: '60652',
	region: 'IL',
	phone: '123.456.7890',
	editable: false
}
},
onPaymentMethodReceived: function (obj) {
	doSomethingWithTheNonce(obj.nonce);
}
});
</script>