<script type="text/javascript" src="//d3js.org/d3.v3.min.js"></script>
<script type="text/javascript" src="//cdn.jsdelivr.net/cal-heatmap/3.3.10/cal-heatmap.min.js"></script>
<link rel="stylesheet" href="//cdn.jsdelivr.net/cal-heatmap/3.3.10/cal-heatmap.css" />

<div class="row" style="padding-top: 35px">
  <div class="col-sm-12">
    {{#if messages.success}}
    <div role="alert" class="alert alert-success">
      {{#each messages.success}}
      <div>{{msg}}</div>
      {{/each}}
    </div>
    {{/if}}
    {{#if messages.error}}
    <div role="alert" class="alert alert-danger">
      {{#each messages.error}}
      <div>{{msg}}</div>
      {{/each}}
    </div>
    {{/if}}
  </div>
  <div class="col-md-4">
    <div>
      <div>  
        <a href="#">
          {{#if userload.picture}}
          <div onerror="this.src='{{userload.gravatar}}'"" id="googlepic" style="min-width: 100%"></div>
          {{else}}
          <img src="{{userload.gravatar}}" class="media-object">
          {{/if}}
        </a>
      </div>
    </div>
    <h1>{{userload.name}}  <small>{{userload.username}}</small></h1>
    <p>{{profile userload.bio}}</p>
    {{#if userload.company}}
    <div class="row">
      <div class="col-sm-2" style="text-align: center;">
        <i class="fa fa-users" aria-hidden="true"></i>
      </div>
      <div class="col-sm-8">
        {{dotdotdot userload.company}}
      </div>
    </div>
    {{/if}}
    {{#if userload.location}}
    <div class="row">
      <div class="col-sm-2" style="text-align: center;">
        <i class="fa fa-map-marker" aria-hidden="true"></i>
      </div>
      <div class="col-sm-8">
        {{userload.location}}
      </div>
    </div>
    {{/if}}
    {{#if userload.publicemail}}
    <div class="row">
      <div class="col-sm-2" style="text-align: center;">
        <i class="fa fa-envelope-o" aria-hidden="true"></i>
      </div>
      <div class="col-sm-8">
        <a href="mailto:{{userload.publicemail}}">{{userload.publicemail}}</a>
      </div>
    </div>
    {{/if}}
    {{#if userload.website}}
    <div class="row">
      <div class="col-sm-2" style="text-align: center;">
        <i class="fa fa-link" aria-hidden="true"></i>
      </div>
      <div class="col-sm-8">
        <a href="http://{{userload.website}}" target="_blank">{{userload.website}}</a>
      </div>
    </div>
    {{/if}}
    {{#if userload.permission}}
    <div class="row">
      <div class="col-sm-2" style="text-align: center;">
        <i class="fa fa-key" aria-hidden="true"></i>
      </div>
      <div class="col-sm-8">
        {{userload.permission}}
      </div>
    </div>
    {{/if}}
    <hr>
    {{#if organizations}}
    <h4>Organizations</h4>
    <div class="row">
      {{#each organizations}}
      {{#if this.entry.picture}}
      <div class="col-md-2 col-xs-2">
        <a href="/organizations/{{this.entry.name}}" title="{{this.entry.name}}" >
          <img onerror="this.src='{{owner.gravatar}}'"" src="{{this.entry.picture}}" class="media-object" style="max-width: 45px;border-radius: 1px;border: 1px;border-color: #d8d8d8;border-style: solid;">
        </a>
      </div>
      {{else}}
      <div class="col-md-2 col-xs-2">
        <a  href="/organizations/{{this.entry.name}}" title="{{this.entry.name}}" >
          <img onerror="this.src='{{owner.gravatar}}'"" src="{{this.gravatar}}" class="media-object" style="max-width: 45px;border-radius: 1px;border: 1px;border-color: #d8d8d8;border-style: solid;">
        </a>
      </div>
      {{/if}}
      {{/each}}
    </div>
    {{else}}
    <div  class="row" style="text-align: center">
      <p>This user is not a member of any organizations.</p>
    </div>
    {{/if}}
  </div>
  <div class="col-md-8">
    <h3>Custom Site Details</h3>
    <div style="border-width: 1px; border-style: dashed; border-color: grey;padding:40px;text-align: center;border-radius: 5px;"><strong> Heads up!</strong> This is where your custom content and user interaction detail will be added. 
    </div>
    <p></p>  
  </div>
</div>
</div>

<script type="text/javascript">
  var username = JSON.stringify('{{userload.username}}')
  var user = JSON.stringify('{{user.username}}')
  var text = '{{userload.picture}}'
  text =text.replace("sz&#x3D;50", "sz&#x3D;200");
  $('#googlepic').html('<img src="'+text+'" style="max-width: 100%" class="media-object">')
</script>

