 

<style type="text/css">
	.card-columns {
		column-count: 5;
	}
</style>
<h1 style = "text-transform:capitalize;" class="display-4"><i class="display-4 {{navmenu.0.entry.icon}}"></i> {{collectioname}}</strong></h1>
<p class="lead">{{navmenu.0.entry.detail}}</p>
<p class="lead">{{navmenu.0.detail}}</p>
<br>

<br><br>
<nav>
	<div class="nav nav-tabs" id="nav-tab" role="tablist">
		<a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Why use {{siteName}}?</a>
		<a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">How does {{siteName}} work?</a>
	</div>
</nav>
<div class="tab-content" id="nav-tabContent">
	<div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
		<br>
		<div class="alert alert-primary" role="alert">
			<h3>Why use {{siteName}}?</h3>
			<p>{{siteName}} is a collaborative platform for creating detailed design calculations and purchasing schedules for belt conveyor systems.
			</p>
			<p>{{siteName}} aims to improve the speed of design, detailing and purchasing of a conveyor system. It aims at reducing the complexity of sourcing equipment, specifying designs, generation and management of equipment lists and generally reducing the complexity of OEM product selection.</p>
			<p>
			{{siteName}} is comprised of 4 main elements, Database, Components, Shop and Assemblies.</p>
		</div>
	</div>
	<div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
		<br>
		<div class="alert alert-primary" role="alert">
			<h3>How does it work?</h3>
			<p>The <strong>{{collectioname}}</strong> page is used to store elements which can be combined into components and shop items. These shop items and components can then be used to develop assemblies, which are in effect purchasing and design schedules, which can be used to develop you project documentation for your new or existing conveyor system.</p>
			<p>Layered into the components and assemblies is the calculation system.</p>
			<p>Use the navigation menu to browse the datasets and items for the <strong>{{collectioname}}</strong> page. Each item is revision tracked and can be commented on to ensure a detailed history of edits is maintained. </p>
			<p>
			The collaborative nature of the site ensures that complete traceability in the design process is maintained.</p>
		</div>
	</div>
</div>
<br>
