<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="/" style=" ">
    <img alt="{{siteName}}" src="/img/Logo square inverse 50x50.png" style="height: 35px;width:35px;padding: 5px"> 
  </a> 
  <a class="navbar-brand" href="/">{{siteName}}</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item">
        <a class="nav-link" style="color: white"  href="/introduction" >Introduction</a>
      </li> 
      <li class="nav-item">
        <a class="nav-link" style="color: white"  href="/users">Users</a>
      </li> 
      <li class="nav-item">
        <a class="nav-link" style="color: white"  href="/organizations">Organizations</a>
      </li> 
            <li class="nav-item">
        <a class="nav-link" style="color: white"  href="/transactions">Braintree</a>
      </li> 
 
    </ul>
    <ul class="navbar-nav my-2 my-lg-0">
      <!-- Custom Content goes here. -->
      {{#unless user}}
      <!-- Custom Content goes here. -->
 
      <!-- Custom Content goes here. -->
      {{/unless}}
      <!-- Custom Content goes here. -->
      <!-- Custom Content goes here. -->
      {{#if user}}
 
      <div class="btn-group">
        <button type="button" class="btn btn-outline-secondary dropdown-toggle mr-1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fa fa-plus" aria-hidden="true"></i> <span class="caret"></span>
        </button>
        <div class="dropdown-menu dropdown-menu-right">
          <a  class="dropdown-item" href="/organizations/new-payfast">New Organization</a>
        </div>
      </div>
      {{/if}}
      <!-- Custom Content goes here. -->
      <!-- Custom Content goes here. -->
      {{#if user}}
      <div class="btn-group">
        <button type="button" class="btn btn-outline-secondary dropdown-toggle mr-1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {{#if user.image}}
          <img src="{{user.image}}" class="navbar-avatar-pic" style=" ">
          {{else}}
          <img src="https://www.gravatar.com/avatar/{{user._id}}?s=32&d=retro&r=G" class="navbar-avatar-pic" style=" ">
          {{/if}}
          <i class="caret"></i>
        </button>
        <div class="dropdown-menu dropdown-menu-right"  id="usermenu"> 
          <a  class="dropdown-item" >Signed in as <strong>{{user.username}}</strong>  </a>
          <div class="dropdown-divider"></div>   
          <a  class="dropdown-item" href="/users/{{user.username}}">Your Profile</a>
          <a  class="dropdown-item" href="/users/{{user.username}}/settings/profile">Settings</a>
          <a  class="dropdown-item" href="/introduction">Introduction</a>
          <div class="dropdown-divider"></div> 
          <a  class="dropdown-item" href="/issues/view">Issues</a>
          <div class="dropdown-divider"></div> 
          <a  class="dropdown-item" href="/signout">Sign out</a>
        </div>
      </div>
      {{else}}
      <li style="display: inline-flex;color: grey;"><a style="color: white"  class="nav-link" href="/signin">Sign in</a> <a  class="nav-link mr-1 ml-1">or</a> <a style="color: white" class="nav-link" href="/signup">Sign up</a> 
        {{/if}}
        <!-- Custom Content goes here. -->
      </ul>
    </div>
  </nav>