<nav id="mainNav" class="navbar navbar-inverse ">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span><i class="fa fa-bars"></i>
      </button>


      <form class="form-inline">
        <div class="form-group">
          <a class="navbar-brand" href="/" style="padding: 8px 0px 5px 11px">
            <img alt="{{title}}" src="/img/Logo square inverse 50x50.png" style="height: 35px;padding: 5px"> 
          </a> 
        </div>
        <div class="form-group"  >
          <input style="background-color: #4c4646;color: white" type="search" class="form-control" id="exampleInputEmail2" placeholder="{{title}}">
        </div>
         
      </form>


    </div>

   
      <ul class="nav navbar-nav navbar-left"  >
        <li >
          <a href="/database" style="color: rgba(255,255,255,0.75)">Database</a>
        </li>
        <li>
          <a href="/store" style="color: rgba(255,255,255,0.75)">Store</a>
        </li>
        <li>
          <a href="/components" style="color: rgba(255,255,255,0.75)">Components</a>
        </li>

         
        </ul>
       

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right" id="deploy">
    


  <li>
          <a href="/help" style="color: rgba(255,255,255,0.75)">Help</a>
        </li> 

        {{#if user}}
        <li class="dropdown" data-toggle="tooltip" data-placement="right" title="Create new.">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-plus" aria-hidden="true"></i> <span class="caret"></span></a>
          <ul class="dropdown-menu" id="component">  
            <li><a href="/organizations/new">New Organization</a></li>
            <li><a href="/component/new">New Component</a></li>
            <li><a href="/assembly/new">New Assembly</a></li>
          </ul>
        </li>
        {{/if}}
        {{#if user}}
        <li class="dropdown" data-toggle="tooltip" data-placement="right" title="View profile and more.">
          <a href="#" data-toggle="dropdown" class="navbar-avatar dropdown-toggle" >
            {{#if user.picture}}
            <img src="{{user.picture}}" class="navbar-avatar-pic">
            {{else}}
            <img src="{{user.gravatar}}" class="navbar-avatar-pic">
            {{/if}}
            <i class="caret"></i>
          </a>
          <ul class="dropdown-menu"  id="usermenu"> 
            <li><a >Logged in as <strong>{{user.username}}</strong>  </a></li>
            <li class="divider"></li>    
            <li><a href="/users/{{user.username}}">Your Profile</a></li>
            <li><a href="/users/{{user.username}}/settings/profile">Settings</a></li>
            <li><a href="/help">Help</a></li>
            <li class="divider"></li>  
            <li><a href="/signout">Sign out</a></li>
          </ul>
        </li>
        {{else}}
        <li class=""><a href="/signin">Sign in</a></li>
        <li class=""><a href="/signup">Sign up</a></li>
        {{/if}}
      </ul>
    </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container-fluid -->
</nav>
{{#if user}}
<script type="text/javascript">
 var user = JSON.parse(JSON.stringify('{{user.permission}}'))
///////////////////////////// 
//////  INITIALISE    //////
/////////////////////////// 
$( document ).ready(function() {
  if (user=='superadmin') {
    $("#usermenu").append('<li class="divider"></li> <li><a href="/configuration"><i class="fa fa-cog" aria-hidden="true"></i> Configuration</a></li><li><a href="/forms"><i class="fa fa-cog" aria-hidden="true"></i> Forms</a></li><li><a href="/admin"><i class="fa fa-cog" aria-hidden="true"></i> Admin Panel</a></li><li><a href="/users"><i class="fa fa-cog" aria-hidden="true"></i> Users</a></li><li><a href="/organizations"><i class="fa fa-cog" aria-hidden="true"></i> Organizations</a></li><li><a href="/componentssuperadmin"><i class="fa fa-cog" aria-hidden="true"></i> Components</a></li>')
  }
});
</script>
{{/if}}