<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="{{#if user}}/workspace{{else}}/{{/if}}" style=" ">
    <img alt="{{siteName}}" title="{{siteName}}" src="{{logo}}" style="height: 35px;width:35px;padding: 5px;border-radius: 50%;"> 
  </a> 
  {{>searchbar}}
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="ml-4">
      </li>
      {{#each collections}}
      {{#ifEquals this.navmenu1 'true'}}
      <li>
        <a class="nav-link nav-custom {{#ifEquals @key ../routes}}active{{/ifEquals}} {{@key}}_tour"   href="/{{@key}}">{{this.pagetitle}}</a>
      </li>
      {{else}}
      {{/ifEquals}}
      {{/each}}
       {{>seminidbnav}}
    </ul>
    <ul class="navbar-nav my-2 my-lg-0">
      
      {{>usernavigationcomponent}}
      {{>seminitoolbar}}
    </ul>
  </div>
</nav>

<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-4051238795083187"
     crossorigin="anonymous"></script>
 

