<div class="list-group">
  <a class="list-group-item {{#if profile}}active{{/if}}" href="/users/{{user.username}}/settings/profile">Profile</a>
  <a class="list-group-item {{#if account}}active{{/if}}" href="/users/{{user.username}}/settings/account">Account</a>
  <a class="list-group-item {{#if organizations}}active{{/if}}" href="/users/{{user.username}}/settings/organizations">Organizations</a>
  <a class="list-group-item {{#if billing}}active{{/if}}" href="/users/{{user.username}}/settings/billing">Billing</a>
  <a class="list-group-item {{#if components}}active{{/if}}" href="/users/{{user.username}}/settings/components">Components</a>
  <a class="list-group-item {{#if assemblies}}active{{/if}}" href="/users/{{user.username}}/settings/assemblies">Assemblies</a>
</div>