            <div class="row">           
                  <div class="col-md-12">
                    <a href="/users/{{user.username}}">
                        {{#if user.image}}
                        <div onError="this.onerror=null;this.src='{{this.gravatar}}';" class="img-fluid" id="googlepic"  ></div>
                        {{else}}
                        <img src="{{user.gravatar}}"   class="img-fluid">
                        {{/if}}
                  </a>
            </div>
            <div class="col-md-8">
              <a href="/users/{{user.username}}" style="color: black;text-decoration: none">
                  <h3>{{user.name}} {{user.lastname}} <small>{{user.username}}</small></h3>
            </a>
      </div>
      <div class="col-md-12" style="padding-top: 15px">
<div class="card" >
  <div class="card-header">
                         Personal settings 
                  </div>
                  <ul class="list-group list-group-flush">
                        <a class="list-group-item {{#if profile}}active{{/if}}" href="/users/{{user.username}}/settings/profile">Profile</a>
                        <a class="list-group-item {{#if account}}active{{/if}}" href="/users/{{user.username}}/settings/account">Account</a>
                        <a class="list-group-item {{#if organizations}}active{{/if}}" href="/users/{{user.username}}/settings/organizations">Organizations</a>
         
                        <a class="list-group-item {{#if billing-payfast}}active{{/if}}" href="/users/{{user.username}}/settings/billing-payfast">Billing</a>
                  </ul>
            </div>  
      </div>   
</div>  
<script type="text/javascript">
    var text = '{{user.image}}'
    text =text.replace("sz&#x3D;50", "sz&#x3D;200");
    $('#googlepic').html('<img src="'+text+'" style="width: 100%;border-radius:15px;" class="media-object">')
</script>