<div class="row" style="padding-top: 25px">
	<div class="col-md-3" id="navMenuPanel">       
		{{> usernav billing=true}}
	</div>  
	<div class="col-md-9" id="browserArea">
		{{#if messages.success}}
		<div role="alert" class="alert alert-success">
			{{#each messages.success}}
			<div>{{msg}}</div>
			{{/each}}
		</div>
		{{/if}}
		{{#if messages.error}}
		<div role="alert" class="alert alert-danger">
			{{#each messages.error}}
			<div>{{msg}}</div>
			{{/each}}
		</div>
		{{/if}}
		<h2>Billing</h2>
		<hr>
		<h4>Plan</h4>
		{{#if user.plan.name}}
		<div class="well">
			<strong>Developer</strong>, Unlimited private repositories</strong>
		</div>
		<a class="btn btn-danger" onclick="cancel_subscriptionModal()" data-toggle="modal" data-target="#myModal"><i class="fa fa-ban" aria-hidden="true"></i> Cancel Subscription</a>
		{{else}}
		<div class="well">
			<strong>Free plan</strong>, unlimited public repositories</strong>
		</div>
		<p><a class="btn btn-default" href="/users/{{user.username}}/settings/billing/upgrade">Get private repositories</a></p>
		{{/if}}		
		<hr>
		<h4>Payment</h4>
		{{#if braintree_customer}}
		<div class="btn-group" role="group" aria-label="...">
			<a class="btn btn-default" href="/users/{{user.username}}/settings/billing/payment"><i class="fa fa-credit-card" aria-hidden="true"></i> Edit payment method</a>
			<a type="button" class="btn btn-danger"    onclick="deleteBraintreeClient(this.id)" id="{{user._id}}"  data-toggle="modal" data-target="#myModal"><i class="fa fa-trash" aria-hidden="true"></i> Delete payment method</a>
		</div> 
		{{else}}
		<div class="well">
			<i class="fa fa-credit-card" aria-hidden="true"></i> No payment method on file.
		</div>			
		<p><a class="btn btn-default" href="/users/{{user.username}}/settings/billing/payment"><i class="fa fa-credit-card" aria-hidden="true"></i> Add payment method</a></p>
		{{/if}}
		<hr>
		<h4>Payment history</h4>
		<div class="row">
			<div class="col-md-6">

				<div id="subscription_history">
					
				</div>
			</div>
			<div class="col-md-6">
				<div id="transaction_history">
				</div></div>
			</div>
			<div id="paymentNote">
				<div class="well">
					You have not made any payments.	
				</div>			
			</div>
			<small>Amounts shown in USD</small>
		</div>
	</div>
	<!-- Modal -->
	<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		<div class="modal-dialog" role="document">
			<div class="modal-content"  id="modalTextArea">
			</div>
		</div>
	</div>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
	<script type="text/javascript">
///////////////////////////////////////////////
////        DELTE PAYMENT DETAILS         //// 
/////////////////////////////////////////////
function deleteBraintreeClient(ids){
	var html = '<div class="modal-header"> <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button> <h4 class="modal-title" id="myModalLabel"><i class="fa fa-trash" aria-hidden="true"></i> Delete payment details.</h4> </div> <div class="modal-body"> <p>Are you sure you wish to delete these payment details from your account?</p> <div style="text-align: center"> <div id="modelHtml"></div> </div> </div> <div class="modal-footer"> <button type="button" class="btn btn-default" data-dismiss="modal">Close</button> </div>'
	$('#modalTextArea').html(html)
	$('#modelHtml').html('<a href="/users/deletepaymentdetails/'+ids+'" class="btn btn-danger">Delete payment details.</a>')
}

/////////////////////////////////////
////        KICK MEMBER         //// 
///////////////////////////////////
function cancel_subscriptionModal(){
	var html = '<div class="modal-header"> <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button> <h4 class="modal-title" id="myModalLabel"><i class="fa fa-trash" aria-hidden="true"></i> Cancel Subscription.</h4> </div> <div class="modal-body"> <p>Are you sure you wish to cancel this subscription?</p> <div style="text-align: center"> <div id="modelHtml"></div> </div> </div> <div class="modal-footer"> <button type="button" class="btn btn-default" data-dismiss="modal">Close</button> </div>'
	$('#modalTextArea').html(html)
	$('#modelHtml').html('<a href="/users/{{user.username}}/cancel_subscription" class="btn btn-danger">Cancel Subscription.</a>')
}

var user = JSON.stringify('{{user.username}}')
{{#if braintree_customer}}
var braintreeid = JSON.stringify('{{user.braintreeid}}')
{{else}}
{{/if}}

//////////////////////////////////////////////////////
////        STREAM IN TRANSACTION HISTROY        //// 
////////////////////////////////////////////////////
function streamTransactions(){
	$.ajax({
		url: '/users/'+user+'/transaction_history',
		success: function(data) {
			data = JSON.parse(data)
			printTable(data)
		},
		error : function(err){
			console.log(err)
		}
	}); 
}

///////////////////////////////////////
///// PRINT TRANSACTION HISTORY //////
/////////////////////////////////////
function printTable(data){
	var html =''
	$('#transaction_history').html('')
	html += '<h5>Transaction History</h5><table class="table table-bordered" id="transaction_table" > <thead> <tr> <th>Date</th> <th>Status</th> <th>Value</th> </tr> </thead> <tbody>'
	for (var i = 0; i < data.length; i++) {
		var date =  new Date(data[i].createdAt)
		date = moment(date).format('YYYY-MM-DD , h:mm');
		html += '<tr><td>'+date+'</td><td>'+data[i].status+'</td><td>$'+data[i].amount+'</td></tr>'
	}
	html +='</tbody></table>  '
	$('#transaction_history').append(html)
	var table = jQuery('#transaction_table').DataTable({
		'destroy':true,
		"pagingType": "numbers",
		'order': [[ 0, 'desc' ]] ,
		"bLengthChange": false,
		"bFilter": false,
		"language": {
			"emptyTable": "You have no tranaction history."
		}		
	});
}

//////////////////////////////////////////////////////
////        STREAM IN SUBSCRIPTION HISTORY       //// 
////////////////////////////////////////////////////
function streamSubscriptions(){
	$.ajax({
		url: '/users/'+user+'/subscription_history',
		success: function(data) {
			data = JSON.parse(data)
			printTableSubscriptions(data)
		},
		error : function(err){
			console.log(err)
		}
	}); 
}

////////////////////////////////////////
///// PRINT SUBSCRIPTION HISTORY //////
//////////////////////////////////////
function printTableSubscriptions(datas){
	var data = datas[0]
	var html =''
	$('#subscription_history').html('')
	html += '<h5>Subscription History</h5><table class="table table-bordered" id="subscription_table" > <thead> <tr>  <th>Next Billing Date</th> <th>Value</th> <th>Status</th> </tr> </thead> <tbody>'
	for (var i = 0; i < data.paymentMethods[0].subscriptions.length; i++) {

		var date =  new Date(data.paymentMethods[0].subscriptions[i].nextBillingDate)
		date = moment(date).format('YYYY-MM-DD , h:mm');
		html += '<tr><td>'+data.paymentMethods[0].subscriptions[i].nextBillingDate+'</td><td>$'+data.paymentMethods[0].subscriptions[i].nextBillingPeriodAmount+'</td><td>'+data.paymentMethods[0].subscriptions[i].status+'</td></tr>'
	}
	html +='</tbody></table>  '
	$('#subscription_history').append(html)
	var table = jQuery('#subscription_table').DataTable({
		'destroy':true,
		"pagingType": "numbers",
		'order': [[ 2, 'asc' ]] ,
		"bLengthChange": false,
		"bFilter": false, 
		"language": {
			"emptyTable": "You have no subscription history."
		}
	});
}

////////////////////////
///// INITIALIZE //////
//////////////////////
$(document).ready( function() {
{{#if braintree_customer}}
	if (braintreeid) {
		$('#paymentNote').html('')
		$('#transaction_history').html('<div class="well" style="text-align:center;"><i class="fa fa-circle-o-notch fa-spin fa-2x fa-fw"></i></div>')
		$('#subscription_history').html('<div class="well" style="text-align:center"><i class="fa fa-circle-o-notch fa-spin fa-2x fa-fw"></i></div>')
		streamTransactions()
		streamSubscriptions()
	}
{{else}}
{{/if}}
});

</script>