


<h1>Installating {{sitename}}.</h1>
<hr>

<div class="row">
	<div class="col-md-3">
		<ul class="nav nav-pills nav-stacked">
			<li role="presentation"><a href="/introduction">Introduction</a></li>
			<li role="presentation"><a href="/installation">Installation Instructions</a></li>
			<li role="presentation"><a href="/integration">Integration</a></li>
			<li role="presentation"><a href="/troubleshooting">Troubleshooting</a></li>
			<li role="presentation" class="active"><a href="/licence">Licence</a></li>
		</ul>
	</div>
	<div class="col-md-9">



<h3>License FAQs</h3>

<p>
{{sitename}} is released under the MIT license and is copyright 2016 Isithelo. Boiled down to smaller chunks, it can be described with the following conditions.	
</p>

<h4>It requires you to:</h4>


Keep the license and copyright notice included in {{sitename}}'s CSS and JavaScript files when you use them in your works

<h4>It permits you to:</h4>
<p>Freely download and use {{sitename}}, in whole or in part, for personal, private, company internal, or commercial purposes
Use {{sitename}} in packages or distributions that you create
Modify the source code
Grant a sublicense to modify and distribute {{sitename}} to third parties not included in the license
</p>

<h4>It forbids you to:</h4>
<p>Hold the authors and license owners liable for damages as {{sitename}} is provided without warranty
Hold the creators or copyright holders of {{sitename}} liable
Redistribute any piece of {{sitename}} without proper attribution
Use any marks owned by Isithelo in any way that might state or imply that Isithelo endorses your distribution
Use any marks owned by Isithelo in any way that might state or imply that you created the Isithelo software in question
</p>

<h4>It does not require you to:</h4>
<p>Include the source of {{sitename}} itself, or of any modifications you may have made to it, in any redistribution you may assemble that includes it
Submit changes that you make to {{sitename}} back to the {{sitename}} project (though such feedback is encouraged)
The full {{sitename}} license is located in the project repository for more information.</p>

<p>
<a href="https://github.com/Isithelo/Fraternate/blob/master/LICENSE.txt" class="btn btn-default">Full Licence</a>	
</p>


<div class="well">Permissions of this strong copyleft license are conditioned on making available complete source code of licensed works and modifications, 
which include larger works using a licensed work, under the same license. 

Copyright and license notices must be divserved. Contributors provide an express grant of patent rights.</div>

 <div style="padding-bottom:45px"></div>


	</div>
</div>
</div>
