 
<script type="text/javascript" src="//d3js.org/d3.v3.min.js"></script>
<script type="text/javascript" src="//cdn.jsdelivr.net/cal-heatmap/3.3.10/cal-heatmap.min.js"></script>
<link rel="stylesheet" href="//cdn.jsdelivr.net/cal-heatmap/3.3.10/cal-heatmap.css" />

<style type="text/css">
	.awesome {
		padding: 2px;
		text-align:center;
		border-radius: 5px;
		background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
	}

	.dotted {

		border-width: 1px;
		border-style: dashed; 
		border-color: grey;
		padding:55px;
		text-align: center;
		border-radius: 5px;
	}

</style>
<div class="row">
	<div class="col-md-7">
		<p></p>
		{{#if organizations}}
		<h3>Organizations <small>All user organizations are listed below.</small></h3>
		<div class="row" style="padding-top: 15px">
			{{#each organizations}}
			<div class="col-md-1 col-xs-2">
				<a href="/organizations/{{this.entry.name}}" title="{{this.entry.name}}"  >
					{{#if this.entry.picture}}
					<img  onerror="this.src='{{this.gravatar}}'"" src="{{this.entry.picture}}" class="media-object" style="max-width: 55px;border-radius: 2px;border: 1px;border-color: #d8d8d8;border-style: solid;">
					{{else}}
					<img src="{{this.gravatar}}" class="media-object" class="media-object" style="max-width: 55px;border-radius: 2px;border: 1px;border-color: #d8d8d8;border-style: solid;">
					{{/if}}       
				</a>
			</div>
			{{/each}}
			</div>
			<div class="col-md-12" style="text-align: right;padding-top: 15px">
				<p></p>
				<a class="btn btn-default " href="/organizations/new"><i class="fa fa-plus" aria-hidden="true"></i> Create an Organization</a> 	
			</div>
		{{else}}
		<h3>Organizations <small>Get started by creating your organization.</small></h3>
		<div style="border-width: 1px; border-style: dashed; border-color: grey;padding:15px;border-radius: 5px;">
			<p>No organizations found </p>
			<a class="btn btn-success btn-xl" href="/organizations/new"><i class="fa fa-plus" aria-hidden="true"></i> Create an Organization</a> 
		</div>
		{{/if}}
		<div style="padding-top: 15px">
			<h3>Welcome to Fraternate <small>This is where details of your interaction on the site could be shown.</small></h3> 
		</div>
			<div class="dotted">
				<div style="background-color: #fff !important;padding: 40px">
					<strong>Welcome!</strong> You are just getting started, setup you profile, create an organization then get started with your custom site content. Remember, this is a demonstration of what the Fraternate platform can do.
				</div>
			</div>
	</div>
	<div class="col-md-5">
		<h3>Custom Site Details <small>Add your content here.</small></h3>
		<div class="dotted" style="height: 355"><strong> Heads up!</strong> This is where you could add your custom content. 
		</div>
		<p></p>  
		<div class="awesome">
			<div style="background-color: #fff !important;padding: 40px">
			<h3>Don't Forget! <small>Star the GitHub Repo to help speed up development.</small></h3> 
				<a class="github-button" href="https://github.com/Isithelo/Fraternate" data-size="large" data-show-count="true" aria-label="Star Isithelo/Fraternate on GitHub">Star</a> 
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">
 
</script>