{{> orgheader}}

 
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" ><a href="/organizations/{{organization.entry.name}}" role="tab" >Summary</a></li>
    <li role="presentation"><a href="/organizations/{{organization.entry.name}}/components" role="tab">Components</a></li>
    <li role="presentation" class="active"><a href="/organizations/{{organization.entry.name}}/assemblies" role="tab">Assemblies</a></li>
    <li role="presentation" ><a href="/organizations/{{organization.entry.name}}/people" role="tab">People</a></li>
    <li role="presentation"><a href="/organizations/{{organization.entry.name}}/settings/profile" role="tab">Settings</a></li>
  </ul>
