{{> orgheader}}
<ul class="nav nav-tabs" role="tablist">
	<li role="presentation" ><a href="/organizations/{{organization.entry.name}}" role="tab" >Summary</a></li>
	<li role="presentation" ><a href="/organizations/{{organization.entry.name}}/people" role="tab">People</a></li>
	<li role="presentation" class="active"><a href="/organizations/{{organization.entry.name}}/settings/profile" role="tab">Settings</a></li>
</ul>
<div class="row" style="padding-top: 25px">
	<div class="col-md-3" id="navMenuPanel">       
		<div class="panel panel-default">
			<div class="panel-heading">
				Organization settings 
			</div>
			<ul class="list-group">
				<a href="/organizations/{{organization.entry.name}}/settings/profile" class="list-group-item">Profile</a>
				<a href="/organizations/{{organization.entry.name}}/settings/member_privileges" class="list-group-item active">Member privileges</a>
			</ul>
		</div>  
	</div>  <div></div>
	<div class="col-md-9" id="browserArea">

          <div style="border-width: 1px; border-style: dashed; border-color: grey;padding:55px;text-align: center;border-radius: 5px;"><strong> Heads up!</strong> This is where your custom member permissions will go. 
          </div>
	</div>
</div>


