{{> orgheader}}
<ul class="nav nav-tabs" role="tablist">
	<li role="presentation" ><a href="/organizations/{{organization.entry.name}}" role="tab" >Summary</a></li>
	<li role="presentation" class="active"><a href="/organizations/{{organization.entry.name}}/people" role="tab">People</a></li>
	{{#if orgowner}}
	<li role="presentation"><a href="/organizations/{{organization.entry.name}}/settings/profile" role="tab">Settings</a></li>
	{{else}}
	{{/if}}
</ul>


{{#if messages.success}}
<p></p>
<div role="alert" class="alert alert-success">
  {{#each messages.success}}
  <div>{{msg}}</div>
  {{/each}}
</div>
{{/if}}
{{#if messages.error}}
<div role="alert" class="alert alert-danger">
  {{#each messages.error}}
  <div>{{msg}}</div>
  {{/each}}
</div>
{{/if}} 

{{#if orgowner}}
<p></p>
<table class="table table-bordered" id="organizationOwner">
	<thead>
		<tr>
			<th>
				People
			</th>
		</tr>
	</thead>
	<tbody>
		<tr >
			<td>
        <div class="media">
          <div class="media-left">
            <a href="">
              {{#if owner.picture}}
              <img src="{{owner.picture}}" class="navbar-avatar-pic" style="max-width: 65px;border-radius: 2px;border: 1px;border-color: #d8d8d8;border-style: solid;">
              {{else}}
              <img src="{{owner.gravatar}}" class="navbar-avatar-pic" style="max-width: 65px;border-radius: 2px;border: 1px;border-color: #d8d8d8;border-style: solid;">
              {{/if}}
            </a>
          </div>
          <div class="media-body" >
            <div class="row" >
              <div class="col-md-3">
               <a href="/users/{{owner.username}}"><h4>{{owner.username}}</h4></a>
               <p>Owner</p>
             </div>
             <div class="col-md-6">
              {{dotdotdotdot owner.bio}}
            </div>
            <div class="col-md-3" style="text-align:right" >
              <a class="btn btn-default" href="/users/{{owner.username}}/settings/organizations">

              <i class="fa fa-cogs" aria-hidden="true"></i> Config

              </a>
            </div>
          </div>
        </div>
      </div>
    </td>
  </tr>
  {{#each members}}
  <tr>
   <td> 
    <div class="media">
      <div class="media-left">
        <a href="">
          {{#if this.picture}}
          <img src="{{this.picture}}" class="navbar-avatar-pic" style="max-width: 65px;border-radius: 2px;border: 1px;border-color: #d8d8d8;border-style: solid;">
          {{else}}
          <img src="{{this.gravatar}}" class="navbar-avatar-pic" style="max-width: 65px;border-radius: 2px;border: 1px;border-color: #d8d8d8;border-style: solid;">
          {{/if}}
        </a>
      </div>
      <div class="media-body">
        <div class="row">
          <div class="col-md-3">
           <a href="/users/{{this.username}}"><h4>{{this.username}}</h4></a>
           <p>Member</p>
         </div>
         <div class="col-md-6">
          {{dotdotdotdot owner.bio}}
        </div>
        <div class="col-md-3" style="text-align:right" >
          <a class="btn btn-default" data-toggle="modal" data-target="#myModal" id="{{this.username}}" onclick="kickMember(this.id)"><i class="fa fa-times" aria-hidden="true" ></i> Kick</a>
        </div>
      </div>
    </div>
  </div>
</td>
</tr>
{{/each}}
{{#each requests}}
<tr style="background: #eee;">
 <td>
  <div class="media">
    <div class="media-left">
      <a href="">
        {{#if this.picture}}
        <img src="{{this.picture}}" class="navbar-avatar-pic" style="max-width: 65px;border-radius: 2px;border: 1px;border-color: #d8d8d8;border-style: solid;">
        {{else}}
        <img src="{{this.gravatar}}" class="navbar-avatar-pic" style="max-width: 65px;border-radius: 2px;border: 1px;border-color: #d8d8d8;border-style: solid;">
        {{/if}}
      </a>
    </div>
    <div class="media-body">
      <div class="row">
        <div class="col-md-3">
         <a href="/users/{{this.username}}"><h4>{{this.username}}</h4></a>
         <p>Membership request</p>
       </div>
       <div class="col-md-6">
        {{dotdotdotdot owner.bio}}
      </div>
      <div class="col-md-3" style="text-align:right" > 
        <a class="btn btn-default" onclick="approveReq(this.id)" id="{{this.username}}"><i class="fa fa-check" aria-hidden="true"></i>  Approve Request</a>
      </div>
    </div>
  </div>
</div>
</td>
</tr>
{{/each}}
</tbody>
</table>
<p></p>
<div >
	<button class="btn btn-default" id="inviteMember" data-toggle="modal" data-target="#myModal">Invite member</button>
</div>
<p></p>
{{else}}



{{#if owner}}
<p></p>
<table class="table table-bordered" id="organizationOwner">
  <thead>
    <tr>
      <th>
        People
      </th>
    </tr>
  </thead>
  <tbody>
    <tr >
      <td>
        <div class="media">
          <div class="media-left">
            <a href="">
              {{#if owner.picture}}
              <img src="{{owner.picture}}" class="navbar-avatar-pic" style="max-width: 65px;border-radius: 2px;border: 1px;border-color: #d8d8d8;border-style: solid;">
              {{else}}
              <img src="{{owner.gravatar}}" class="navbar-avatar-pic" style="max-width: 65px;border-radius: 2px;border: 1px;border-color: #d8d8d8;border-style: solid;">
              {{/if}}
            </a>
          </div>
          <div class="media-body" >
            <div class="row" >
              <div class="col-md-3">
               <a href="/users/{{owner.username}}"><h4>{{owner.username}}</h4></a>
               <p>Owner</p>
             </div>
             <div class="col-md-6">
              {{dotdotdotdot owner.bio}}
            </div>
            <div class="col-md-3" style="text-align:right" >
            </div>
          </div>
        </div>
      </div>
    </td>
  </tr>
  {{#each members}}
  <tr>
    <td> 
      <div class="media">
        <div class="media-left">
          <a href="">
            {{#if this.picture}}
            <img src="{{this.picture}}" class="navbar-avatar-pic" style="max-width: 65px;border-radius: 2px;border: 1px;border-color: #d8d8d8;border-style: solid;">
            {{else}}
            <img src="{{this.gravatar}}" class="navbar-avatar-pic" style="max-width: 65px;border-radius: 2px;border: 1px;border-color: #d8d8d8;border-style: solid;">
            {{/if}}
          </a>
        </div>
        <div class="media-body">
          <div class="row">
            <div class="col-md-3">
             <a href="/users/{{this.username}}"><h4>{{this.username}}</h4></a>
             <p>Member</p>
           </div>
           <div class="col-md-6">
            {{dotdotdotdot owner.bio}}
          </div>
          <div class="col-md-3" style="text-align:right" >
          </div>
        </div>
      </div>
    </div>
  </td>
</tr>
{{/each}}
</tbody>
</table>
<p></p>
<div >
</div>
<p></p>

{{else}}
<h3>Orphan Organization <small>Let us know if this is yours.</small></h3>
<div style="border-width: 1px; border-style: dashed; border-color: grey;padding:15px;border-radius: 5px;">
  <p>No organization owner found. </p>
  <a class="btn btn-success btn-xl" href=""><i class="fa fa-plus" aria-hidden="true"></i> Claim Organization</a> 
</div>
{{/if}}
{{/if}}

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content"  id="modalTextArea">
    </div>
  </div>
</div>



<script type="text/javascript">




////////////////////////////////////
////        INITIALIZE         //// 
//////////////////////////////////
$('document').ready(function(){
  var table = jQuery('#organizationOwner').DataTable({
    'destroy':true,
    "pagingType": "numbers",    
    "bLengthChange": false,
  });
})



////////////////////////////////////////
////        INVITE MEMEBER         //// 
//////////////////////////////////////
$('#inviteMember').click(function(){
 var html =  '<div style="text-align: center"> <h1> <i class="fa fa-envelope-o" aria-hidden="true"></i> </h1> <h3> Invite members to {{organization.entry.displayname}} </h3> <p>An invitation will be sent via email to the selected user.</p><div class="row"> <div class="col-md-8 col-md-offset-2"> <form autocomplete="off" > <input value="" type="text" name="search" id="search" class="form-control" placeholder="Search by username"> </form> <div id="users" style="padding-top: 25px"></div> </div> </div> </div>'
 $('#modalTextArea').html(html)
//search input drop down
  var orgname = "{{organization.entry.name}}"
$('#search').keyup(function(){
  var searchField = $('#search').val();
  jQuery.ajax({
    'async': true,
    'global': false,
    'url': '/organizations/'+orgname+'/usersearch/'+searchField,
    'success': function (dataSchemaObject) {
      jQuery('#users').html("")
      try {
        if (dataSchemaObject.users.length == 0) {
          jQuery('#users').html('<p><i class="fa fa-frown-o" aria-hidden="true"></i> No users found.</p>')
        } else {
          var html = '<ul class="list-group">'
          for (var i = 0; i < dataSchemaObject.users.length; i++) {
            html+='<li class="list-group-item"><div class="media"><div class="media-left media-middle" > <img onerror="this.src='+"'"+'/img/defaults/default-user.png'+"'"+ '"  src="/uploads/'+dataSchemaObject.users[i]._id+'.jpg " style="max-width: 45px"> </div><div class="media-body" style="text-align: left;"><strong>'+dataSchemaObject.users[i].username+'</strong> '+dataSchemaObject.users[i].name+' <a onclick="sendRequest(this.id)" id="'+dataSchemaObject.users[i].username+'" class="btn btn-default" href="#" role="button" ><i class="fa fa-plus" aria-hidden="true"></i></a>   </div></li>'
          }
          html += '</ul>'
          jQuery('#users').html(html)
        }
      } catch (err){
        jQuery('#users').html('<p><i class="fa fa-frown-o" aria-hidden="true"></i> No users found.</p>')
      }
    },
    'error': function(err){
      jQuery('#users').html("Try not to use special characters.")
    }
  });
});
})

/////////////////////////////////////
////        KICK MEMBER         //// 
///////////////////////////////////
function kickMember(ids){
  var html = '<div class="modal-header"> <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button> <h4 class="modal-title" id="myModalLabel"><i class="fa fa-sign-out" aria-hidden="true"></i> Kick this user.</h4> </div> <div class="modal-body"> <p>Are you sure you wish to kick <strong>'+ids+'</strong> from {{organization.entry.displayname}}?</p> <div style="text-align: center"> <div id="modelHtml"></div> </div> </div> <div class="modal-footer"> <button type="button" class="btn btn-default" data-dismiss="modal">Close</button> </div>'
  $('#modalTextArea').html(html)
  $('#modelHtml').html('<a href="/organizations/{{organization.entry.name}}/kickorg/'+ids+'" class="btn btn-warning">Kick '+ids+'</a>')
}


///////////////////////////////////////////////////////
////        AJAX SEND REQUEST TO ADD USER         //// 
/////////////////////////////////////////////////////
function approveReq(ids){
  var orgname = "{{organization.entry.name}}"
  jQuery.ajax({
   'async': true,
   'global': false,
   'url': '/organizations/'+orgname+'/approvereq/'+ids,
   'success': function (dataSchemaObject) {
    location.reload();
  }
});
}

///////////////////////////////////////////////////////
////        AJAX SEND REQUEST TO ADD USER         //// 
/////////////////////////////////////////////////////
function sendRequest(ids){
  var orgname = "{{organization.entry.name}}"
  jQuery.ajax({
   'async': true,
   'global': false,
   'url': '/organizations/'+orgname+'/approvereq/'+ids,
   'success': function (dataSchemaObject) {
    location.reload();
  }
});
}




</script>