
<style type="text/css">
  .cropit-preview {
    /* You can specify preview size in CSS */
    width: 200px;
    height: 200px;
  }
</style> 
{{> orgheader}}
<ul class="nav nav-tabs" role="tablist">
	<li role="presentation" ><a href="/organizations/{{organization.entry.name}}" role="tab" >Summary</a></li>
	<li role="presentation" ><a href="/organizations/{{organization.entry.name}}/people" role="tab">People</a></li>
  {{#if orgowner}}
  <li role="presentation" class="active"><a href="/organizations/{{organization.entry.name}}/settings/profile" role="tab">Settings</a></li>
  {{else}}
  {{/if}}
</ul>
<div class="row" style="padding-top: 25px">
	<div class="col-md-3" id="navMenuPanel">  
    <div class="panel panel-default">
      <div class="panel-heading">
        Organization settings 
      </div>
      <ul class="list-group">
        <a href="/organizations/{{organization.entry.name}}/settings/profile" class="list-group-item active">Profile</a>
        <a href="/organizations/{{organization.entry.name}}/settings/member_privileges" class="list-group-item">Member privileges</a>
      </ul>
    </div>  
  </div>  
  <div class="col-md-9" id="browserArea">
    {{#if messages.success}}
    <div role="alert" class="alert alert-success">
      {{#each messages.success}}
      <div>{{msg}}</div>
      {{/each}}
    </div>
    {{/if}}
    {{#if messages.error}}
    <div role="alert" class="alert alert-danger">
      {{#each messages.error}}
      <div>{{msg}}</div>
      {{/each}}
    </div>
    {{/if}}
    <form method="POST" action="/organizations/{{organization.entry.name}}/?_method=PUT" class="form-horizontal">
      <h2>Organizational Profile</h2>
      <hr>
      <div class="row">
        <div class="col-md-8">
          <div class="form-group">
            <label for="displayname" class="col-sm-12">Organization username</label>
            <div class="col-sm-12">
              <input type="displayname" name="name" id="name" class="form-control" value="{{organization.entry.name}}" disabled>
              <p class="help-block">Changing your organization can have unforeseen consequences. i.e will crash , let us know where yours does!! <a class="btn btn-default btn-xs"  onclick="activate()">Change</a></p>
            </div>
          </div>
          <div class="form-group">
            <label for="displayname" class="col-sm-12">Organization display name</label>
            <div class="col-sm-12">
              <input type="displayname" name="displayname" id="displayname" class="form-control" value="{{organization.entry.displayname}}" >
            </div>
          </div>
          <div class="form-group">
            <label for="displayemail" class="col-sm-12">Email (will be public)</label>
            <div class="col-sm-12">
              <input type="email" name="displayemail" id="displayemail" class="form-control" value="{{organization.entry.displayemail}}">
            </div>
          </div> 
          <div class="form-group">
            <label for="displayname" class="col-sm-12">Description</label>
            <div class="col-sm-12">
              <textarea type="description" rows="3"  name="description" id="description" class="form-control" >{{organization.entry.description}}</textarea>
            </div>
          </div>
          <div class="form-group">
            <label for="displayname" class="col-sm-12">Url</label>
            <div class="col-sm-12">
              <input type="url" name="url" id="url" class="form-control" value="{{organization.entry.url}}" >
            </div>
          </div>
          <div class="form-group">
            <label for="displayname" class="col-sm-12">Location</label>
            <div class="col-sm-12">
              <input type="location" name="location" id="location" class="form-control" value="{{organization.entry.location}}" >
            </div>
          </div>
          <div class="form-group">
            <label for="email" class="col-sm-12">Billing email (Private)</label>
            <div class="col-sm-12">
              <input type="email" name="email" id="email" class="form-control" value="{{organization.entry.email}}">
            </div>
          </div> 
          <div class="form-group">
            <div class="col-sm-4">
              <button type="submit" onclick="updates()" class="btn btn-default">Update Profile</button>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <div class="col-sm-12">
              <h4  >Profile Picture</h4><p>The profile picture change will not save.</p>
              <!-- This wraps the whole cropper -->
              <div id="image-cropper" >
                <!-- This is where the preview image is displayed -->
                <div class="cropit-preview" id="pic" style="border: 1px solid #eee;position: relative;text-align: center;"><img src="/img/defaults/default-users.png" style="padding-top: 15px"></div>
                <!-- This range input controls zoom -->
                <!-- You can add additional elements here, e.g. the image icons -->
                <input type="range" class="cropit-image-zoom-input" style="width: 200px" />
                <p></p>
                <!-- This is where user selects new image -->
                <input type="file" id="filechange" class="cropit-image-input"  />

                <input style="display: none;" name="croppedImg" id="croppedImg"/>

  <!-- The cropit- classes above are needed
  so cropit can identify these elements -->
</div>
</div>
</div>
</div>
</div>
</form>
  <h3  style="color:#d9534f">Delete Organization</h3>
  <hr  style="color:#d9534f">
  <form method="POST" action="" class="form-horizontal">
    <div class="form-group">
      <p class=" col-sm-9" style="color:#d9534f">You can delete this organization, but keep in mind this action is irreversible.</p>
      <div class=" col-sm-9">
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#myModal" id="{{organization._id}}" onclick="deleteOrgnaization(this.id)">
          Delete {{organization.entry.name}}
        </button>
      </div>
    </div>
  </form>
</div>
</div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content"  id="modalTextArea">
    </div>
  </div>
</div>



<script type="text/javascript">

  function activate(){
    $('#name').prop('disabled', false);
  }

  {{#if user.picture}}
  var imageSrc = '{{{organization.entry.picture}}}'
  {{else}}
  var imageSrc = '{{{organization.gravatar}}}'
  {{/if}}
  
  $('#image-cropper').cropit({ 
    imageState: { src: imageSrc  },
    onImageLoaded : function(){
      var imageData = $('#image-cropper').cropit('export', {
        type: 'image/jpeg',
        quality: .4,
        originalSize: true,

      });
      $('#croppedImg').val(imageData);
    },
    onOffsetChange : function(){
      var imageData = $('#image-cropper').cropit('export', {
        type: 'image/jpeg',
        quality: .4,
        originalSize: true,

      });
      $('#croppedImg').val(imageData);
    }
  });

////////////////////////////////
///// LISTEN FOR CHANGES //////
//////////////////////////////
$('#image-cropper').change(function() {
  var imageData = $('#image-cropper').cropit('export', {
    type: 'image/jpeg',
    quality: .4,
    originalSize: true,
  });
  $('#croppedImg').val(imageData);
});

////////////////////////
///// INITIALIZE //////
//////////////////////
$(document).ready( function() {
  $(':file').on('fileselect', function(event, numFiles, label) {
    var input = $(this).parents('.input-group').find(':text'),
    log = numFiles > 1 ? numFiles + ' files selected' : label;
    if( input.length ) {
      input.val(log);
    } else {
      if( log ) alert(log);
    }
  });
});


/////////////////////////////////////
////        KICK MEMBER         //// 
///////////////////////////////////
function deleteOrgnaization(ids){
  var html = '<div style="color:#d9534f" class="modal-header"> <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button> <h4 class="modal-title" id="myModalLabel"><i class="fa fa-trash-o" aria-hidden="true"></i> Delete this Organization.</h4> </div> <div class="modal-body" style="color:#d9534f"> <p>Are you sure you wish to delete <strong>{{organization.entry.name}}</strong>? This action cannot be undone.</p> <div style="text-align: center"> <div id="modelHtml"></div> </div> </div> <div class="modal-footer"> <button type="button" class="btn btn-default" data-dismiss="modal">Close</button> </div>'
  $('#modalTextArea').html(html)
  $('#modelHtml').html('<a href="/deleteorganiztion/'+ids+'" class="btn btn-danger">Delete {{organization.entry.name}}</a>')
}

</script>
