{{> orgheader}}


<ul class="nav nav-tabs" role="tablist">
	<li role="presentation" ><a href="/organizations/{{organization.entry.name}}" role="tab" >Summary</a></li>
	<li role="presentation" ><a href="/organizations/{{organization.entry.name}}/people" role="tab">People</a></li>
	<li role="presentation" class="active"><a href="/organizations/{{organization.entry.name}}/settings" role="tab">Settings</a></li>
</ul>




<div class="row">
	<div class="col-md-10">
		<h1>Settings</h1>
		<p>Use the interface below to edit your user preferences.</p>
	</div>
</div>   
<div class="row">
	<div class="col-md-4" id="navMenuPanel">       
		<div class="list-group">
			<a href="/organizations/{{organization.entry.name}}/settings/profile" class="list-group-item">Profile</a>
			<a href="/organizations/{{organization.entry.name}}/settings/member_privileges" class="list-group-item">Member privileges</a>
		</div>
	</div>  
	<div class="col-md-8" id="browserArea">
	</div>
</div>

<script type="text/javascript">

</script>

